<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= I18n.t('spree.tax_cloud_settings') %>
<% end %>

<%= form_tag admin_tax_cloud_settings_path, method: :put do %>
  <div id="preferences" data-hook>
    <div class="row">
      <div class="omega six columns">
        <fieldset class="currency no-border-bottom">
          <legend align="center"><%= I18n.t('spree.tax_cloud_taxability_codes')%></legend>
            <% @preferences_tic.each do |key|
                type = Spree::Config.preference_type(key) %>
                <div class="settings">
                  <%= render "spree/admin/shared/preference_fields/#{type}",
                    name: key, value: Spree::Config[key], label: I18n.t("spree.#{key}") %>
                </div>
            <% end %>
        </fieldset>
      </div>
    </div>

    <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button_tag I18n.t('spree.actions.update'), class: 'btn btn-primary' %>
        <span class="or"><%= I18n.t('spree.or') %></span>
        <%= link_to_with_icon 'remove', I18n.t('spree.actions.cancel'), edit_admin_tax_cloud_settings_url, class: 'button' %>
    </div>

  </div>
<% end %>
