<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= I18n.t('spree.tax_cloud_settings') %>
<% end %>

<%= form_tag admin_tax_cloud_settings_path, method: :put do %>
  <div id="preferences" data-hook>
    <div class="row">
      <div class="omega six columns">
        <fieldset class="currency no-border-bottom">
          <legend align="center"><%= I18n.t('spree.tax_cloud_taxability_codes')%></legend>
            <% @preferences_tic.each do |key|
                type = Spree::Config.preference_type(key) %>
                <div class="field">
                  <%= label_tag(key, I18n.t("spree.#{key}")) + tag(:br) if type != :boolean %>
                  <%= preference_field_tag(key, Spree::Config[key], type: type) %>
                  <%= label_tag(key, I18n.t("spree.#{key}")) + tag(:br) if type == :boolean %>
                </div>
            <% end %>
        </fieldset>
      </div>
    </div>

    <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button I18n.t('spree.actions.update'), 'refresh' %>
        <span class="or"><%= I18n.t('spree.or') %></span>
        <%= link_to_with_icon 'remove', I18n.t('spree.actions.cancel'), edit_admin_tax_cloud_settings_url, class: 'button' %>
    </div>

  </div>
<% end %>
